* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #fff;
	font-family: "Montserrat";
}

.container1 {
	min-width: 260px;
	min-height: 280px;
	border-radius: 20px;
	position: relative;
	transition: 1.5s ease-in-out;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.side1 {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;

	color: #fff;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	border-radius: 20px;
}
.content1 {
	-webkit-transform: translatez(70px) scale(0.8);
	        transform: translatez(70px) scale(0.8);
	line-height: 2.5em;
}
.content1 h1 {
	position: relative;
}
.content1 p {
	margin-top: 30px; 
	line-height: 0em;
	font-size: 1.2em;
	font-weight: bold;
	font-family:verdana;
}
.content1 h1:before {
	content: "";
	position: absolute;
	background-color: #3e3;
	width: 70px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.front {
	z-index: 2;
	background-size: 100vh;
	background-size: cover;
	background-image: url(../images/frontground.jpg);
}
.back {
	background-color: #333;
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
	background-image: url(../images/background.jpg);
}
.container1:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
form {
	text-align: center;
}
.back h1 {
	margin: 0;
}
form label {
	font-size:1.3em;
	font-weight:bold;
	color: #e2e7ad;

}

form input {
	display: block;
}
form input,
form textarea {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #444;
	padding: 5px;
	width: 100%;
	color: #fff;
}
form label {
	margin: 15px 0;
}
form input[type="submit"] {
	display: block;
	width: auto;
	margin: 10px auto;
	padding: 5px 10px;
	border: 3px solid #555;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}
/* my button style  */
.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #fff;
	transition: 0.35s ease-in-out;
	position: fixed;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #fff;
	color: #122;
}
